@import "../styles/sass/variables.scss";

.nav {
    margin-left: 5px;
    grid-area: n;
    position: fixed;

    .fullScreen {
        @media screen and (max-width: 950px) {
            display: none;

        }

        .items {
            padding-top: 40px;
            gap: 20px;
            display: flex;
            flex-direction: column;
            align-items: center;

            .item {
                width: 90%;
                .isPending {
                    padding-left: 20px;
                    text-align: start;
                    border-radius: 15px;
                    height: 50px;
                    display: flex;
                    align-items: center;
                    text-decoration: none;
                    color: black;
                    font-weight: 600;
                    &:active {
                        transform: scale(0.98);
                    }
                }

                .isActive {
                    @extend .isPending;
                    background-color: $accentColor ;
                }
            }
        }
    }

    .mobileDevice {
        @media screen and (min-width: 950px) {
            display: none;
        }

        .items {
            padding-top: 40px;
            gap: 20px;
            display: flex;
            flex-direction: column;
            align-items: center;

            .item {
                display: flex;
                flex-direction: column;
                width: 100%;
                padding-left: 10px;
                &:active {
                    transform: scale(0.95);
                }

                .isPending {
                    padding-left: 15px;
                    border-radius: 15px;
                    height: 50px;
                    display: flex;
                    align-items: center;
                    text-decoration: none;
                    color: black;
                    font-weight: 600;
                }

                .isActive {
                    @extend .isPending;
                    background-color: $accentColor ;
                }
            }
        }
    }
}