@import "../styles/sass/variables.scss";

.itemContainer {
    width: 500px;
    padding: 20px;
    padding: 20px;
    background-color: $bgColor;
    border-radius: 15%;
    box-shadow:
        0 -10px 20px rgba(0, 0, 0, 0.1),
        5px 5px 10px rgba(0, 0, 0, 0.2);

    @media screen and (max-width: 550px) {
        width: 250px;
        height: 370px;
    

    }

    .item {
        text-align: center;

        img {
            max-width: 200px;
            height: 150px;

            @media screen and (max-width: 550px) {
                max-width: 100px;
                height: 75px;
            }
        }

        .itemName {
            font-size: xx-large;
            font-weight: 800;
            letter-spacing: 1px;

            @media screen and (max-width: 550px) {
                font-size: x-large;
                font-weight: 600;
            }
        }

        .itemWeight {
            color: $secondTextColor;
            font-weight: 600;

        }

        .itemPrice {
            color: $accentColor ;
            font-size: xx-large;
            font-weight: 800;
            letter-spacing: 1px;

            @media screen and (max-width: 550px) {
                font-size: x-large;
                font-weight: 600;
            }
        }

        .optionItem{

        }
        .addBtn{
            padding-bottom: 10px;
        }
    }
}