@import "../../styles/sass/variables.scss";

.isClose {
    opacity: 0;
}


.closeElement {
    width: 5px;
    border-radius: 2px;
    height: 100px;
    background-color: $bgColor;
    margin-right: 10px;
    &:active {
        translate: 5px;
    }
}

.isActive {
    width: 100vw;
    height: 100vh;
    background-color: rgb(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    opacity: 1;
    transition: all 0.7s;;
    .modalContent {
        height: 100%;
        min-width: 35vw;
    }
}