@import "../../../Styles/sass/variables.scss";

.itemContainer {
    width: 400px;
    padding: 20px;
    padding: 20px;
    background-color: $bgColor;
    border-radius: 15%;
    box-shadow:
        0 -10px 20px rgba(0, 0, 0, 0.1),
        5px 5px 10px rgba(0, 0, 0, 0.2);

    @media screen and (max-width: 600px) {
        width: 250px;
    }

    .item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;

        img {
            max-width: 200px;
            height: 150px;

            @media screen and (max-width: 600px) {
                max-width: 100px;
                height: 75px;
            }
        }

        .itemName {
            font-size: xx-large;
            font-weight: 800;
            letter-spacing: 1px;
            padding: 5px;

            @media screen and (max-width: 600px) {
                font-size: x-large;
                font-weight: 600;
            }
        }

        .itemWeight {
            color: $secondTextColor;
            font-weight: 600;
            padding: 5px;
        }

        .itemPrice {
            @extend .itemName;
            color: $accentColor
        }

        .optionItem {
            div {
                padding: 2px;
            }
        }

        .deleteItem {
            margin-top: 10px;
            margin-bottom: 10px;
            padding-top: 10px;
            padding-bottom: 10px;
            border-radius: 10px;
            background-color: $accentColor;
            width: 50%;
            font-size: medium;
            font-weight: 800;
            cursor: pointer;

            &:active {
                transform: scale(0.98);
            }
        }
    }
}