.food{
    justify-content: center;
    width: 90%;
    
        .items{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 40px;
    
        }


        .extraOption {
            display: flex;
            justify-content: center;
            width: 100%;
            
        }
    }