@import "./styles/sass/variables.scss";


.App {
  margin: 0 auto;
  display: grid;
  min-height: 100vh;
  width: auto;
  grid-template-areas:
    "n h"
    "n c";

  grid-template-rows: 110px 2fr;
  grid-template-columns: 250px 2fr;
  @media screen and (max-width: 1025px) {
    grid-template-columns: 60px ;
  }



}

.Content {
  grid-area: c;
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
 
}