@import "../common/styles/sass/variables.scss";

.nav {
    grid-area: n;


    .items {
        padding-top: 40px;
        gap: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;



        .item {
            width: 80%;

            .isPending {
                padding-left: 20px;
                text-align: start;
                border-radius: 15px;
                height: 50px;
                display: flex;
                align-items: center;
                text-decoration: none;
                color: black;
                font-weight: 600;
            }

            .isActive {
                @extend .isPending;
                background-color: $accentColor ;
            }
        }


    }

}